{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="small-12 large-12 columns">

        <div class="content">
            <p>Comparing {{ session.pairs|length }} sources (<a href="{{ url_for('settings') }}">change...</a>). Reviewed <a href="#">102 pairs</a>.</p>

            <div id="comparison"></div>
        </div>

        <a href="{{ url_for('compare') }}"
        class="button radius secondary success">OK</a>
        <a href="{{ url_for('compare') }}"
        class="button radius secondary alert">Wrong</a>
        <a href="{{ url_for('compare') }}"
        class="button radius secondary">Skip</a>

    </div>
</div>

<script type="text/jsx">
/** @jsx React.DOM */

var HyperLinkValue = React.createClass({
    getDefaultProps: function() {
        return {'shortenUrls': false};
    },
    render: function() {
        var value = this.props.value;
        if (this.props.shortenUrls) {
            return (<a href={value} title={value}>
                {$.url(value).attr('host')}</a>);
        } else {
            return (<a href={value}>{value}</a>);
        }
    }
});

var FieldValue = React.createClass({
    getInitialState: function() {
        return {'collapsed': true};
    },
    getDefaultProps: function() {
        return {'shortenUrls': true,
        'cutoff': 75,
        'id': Math.random().toString(36).slice(2) };
    },
    handleClick: function() {
        this.setState({collapsed: !this.state.collapsed});
        this.preventDefault();
    },
    render: function() {
        if (this.props.value === undefined) {
            return (<td className="value not-available">&mdash;</td>);
        }
        if (_.str.startsWith(this.props.value, "http")) {
            return (<td className="value">
                <HyperLinkValue value={this.props.value}
                shortenUrls={this.props.shortenUrls} /></td>);
        } else {
            if (this.props.value.length > this.props.cutoff) {
                if (this.state.collapsed) {
                    var value = _.str.prune(this.props.value,
                        this.props.cutoff, "");
                    var remainingChars = this.props.value.length -
                    this.props.cutoff;
                    return (<td className="value">{value} &mdash;
                        <a onClick={this.handleClick}
                        href={"#" + this.props.id}>
                        <span className="expand-value">
                        {remainingChars} more...</span></a></td>);
                } else {
                    return (<td className="value">{this.props.value}
                        &mdash; <a onClick={this.handleClick}
                        href={"#" + this.props.id}>Collapse</a></td>);
                }

            } else {
                return (<td className="value">{this.props.value}</td>);
            }
        }
    }
});

var FieldRow = React.createClass({
    getDefaultProps: function() {
        omitTag: true
    },
    render: function() {
        var tag = this.props.tag;
        if (this.props.omitTag) {
            tag = "";
        }
        var comparableRow = (this.props.leftValue !== undefined &&
           this.props.rightValue !== undefined);
        var comparableClass = comparableRow ? "comparable" : "uncomparable";
        return (<tr className="field" className={comparableClass}>
            <td className="tag">{tag}</td>
            <td>{this.props.code}</td>
            <FieldValue value={this.props.leftValue} />
            <FieldValue value={this.props.rightValue} />
            </tr>);
    }
});

var ComparisonTable = React.createClass({
    getDefaultProps: function() {
        return {defaultTags: {"001": [],
        "003": [],
        "020": ["a", "9"],
        "100": ["a"],
        "245": ["a", "b", "c"],
        "300": ["a"],
        "500": ["a"],
        "655": ["a"],
        "700": ["a"],
        "856": [],
        "935": ["a"]}};
    },
    getInitialState: function() {
        return {expanded: false};
    },
    getAllDefinedTags: function() {
        var keys = _.union(Object.keys(this.props.left['record']['content']),
         Object.keys(this.props.right['record']['content']));
        dict = {}
        keys.forEach(function(key) {
            dict[key] = [];
        });
        return dict;
    },
    handleClick: function() {
        this.setState({expanded: !this.state.expanded});
    },
    render: function() {
        $this = this;
        var rows = [];
        var tags = this.state.expanded ? this.getAllDefinedTags() :
        this.props.defaultTags;

        Object.keys(tags).sort().forEach(function(tag, i) {

            leftValue = $this.props.left['record']['content'][tag] ||
            (tag < "010" ? "&mdash;" : []);
            rightValue = $this.props.right['record']['content'][tag] ||
            (tag < "010" ? "&mdash;" : []);

            if (tag < "010") {
                rows.push(<FieldRow tag={tag} omitTag={false} code=""
                    leftValue={leftValue} rightValue={rightValue} />);
            } else {
                var max = Math.max(leftValue.length, rightValue.length);

                for (var i = 0; i < max; i++) {
                    leftValue[i] = leftValue[i] || {};
                    rightValue[i] = rightValue[i] || {};

                    leftCodes = Object.keys(leftValue[i]);
                    rightCodes = Object.keys(rightValue[i]);
                    var codes = _.union(leftCodes, rightCodes);

                    codes = _.without(codes, "ind1", "ind2");

                    for (var j = 0; j < codes.length; j++) {
                        var code = codes[j];

                        if (tags[tag].length == 0 ||
                            _.contains(tags[tag], code)) {
                            var leftSubfieldValue = leftValue[i][code];
                        var rightSubfieldValue = rightValue[i][code];

                        if (!_.isArray(leftSubfieldValue)) {
                            leftSubfieldValue = [leftSubfieldValue];
                        }
                        if (!_.isArray(rightSubfieldValue)) {
                            rightSubfieldValue = [rightSubfieldValue];
                        }

                        maxSubfieldValueCount = Math.max(
                            leftSubfieldValue.length,
                            rightSubfieldValue.length);

                        for (var k = 0; k < maxSubfieldValueCount; k++) {
                            rows.push(<FieldRow tag={tag}
                                omitTag={k > 0 || j > 0}
                                code={code}
                                leftValue={leftSubfieldValue[k]}
                                rightValue={rightSubfieldValue[k]} />);
                        }
                    }
                    }
                }
            }
        });
        var linkText = this.state.expanded ? "Less Details" : "More Details";
        rows.push(<tr><td colSpan="4"><a onClick={this.handleClick}
            href="#">{linkText}</a></td></tr>);

        var className = this.state.expanded ? "expanded" : "";
        return (<table className={className}><tbody>{rows}</tbody></table>);
    }
});

var Comparison = React.createClass({
    getInitialState: function() {
        return {left: {}, right: {}};
    },
    getDefaultProps: function() {
        return {'base': 'http://localhost:5000/doc'}
    },
    componentWillMount: function() {
        var $this = this;
        var leftParts = this.props.left.split("://");
        var leftIndex = leftParts[0];
        var leftId = leftParts[1];
        var leftUrl = this.props.base + "/" + leftIndex + "/" + leftId;

        var rightParts = this.props.right.split("://");
        var rightIndex = rightParts[0];
        var rightId = rightParts[1];
        var rightUrl = this.props.base + "/" + rightIndex + "/" + rightId;

        $.ajax({
            url: leftUrl,
            datatype: 'json',
            success: function(data) {
                $this.setState({left: {index: leftIndex, id: leftId,
                 record: data}});
            },
            error: function(xhr, status, err) {
                console.error(err);
            }
        });

        $.ajax({
            url: rightUrl,
            datatype: 'json',
            success: function(data) {
                $this.setState({right: {index: rightIndex, id: rightId,
                    record: data}});
            },
            error: function(xhr, status, err) {
                console.error(err);
            }
        });
    },
    render: function() {
        if (_.isEmpty(this.state.left) || _.isEmpty(this.state.right)) {
            return (<div><span className="loading">Loading...</span><div>);
        } else {
            return (<ComparisonTable left={this.state.left}
                                     right={this.state.right} />);
        }
    }
});


React.renderComponent(
    <Comparison base="http://139.18.19.111:5000/doc"
    left="{{ result[1] }}://{{ result[2] }}"
    right="{{ result[3] }}://{{ result[4] }}" />,
    document.getElementById("comparison"));


</script>


{% endblock %}

