{% extends "index.html" %}

{% block content %}
<div class="row">
<div class="small-12 large-12 columns">
<div class="content">

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages|join(" ") }} <span id="compared">{{ compared }} Stimmen gesammelt.</span>
        <hr>
    {% endif %}
{% endwith %}

<p>Vergleiche {{ session.pairs|length }} Quellenpaar{% if session.pairs|length > 1%}e{% endif %}
(<a href="{{ url_for('settings') }}">ändern...</a>). Vergleichskriterien: siehe <a href="http://intern.ub.uni-leipzig.de/blog/?p=2823">Blogeintrag vom 28.2.</a></p>

<h3>
<a href="{{ source_id_link(payload.left.source_id) }}">{{ payload.left.index|upper }}</a> vs
<a href="{{ source_id_link(payload.right.source_id) }}">{{ payload.right.index|upper }}</a>
</h3>

<p>Vergleiche
<a href="{{ record_id_link(payload.left.id) }}">{{ payload.left.id }}</a> aus
<strong><a href="{{ source_id_link(payload.left.source_id) }}">{{ payload.left.index }}</a></strong> mit
<a href="{{ record_id_link(payload.right.id) }}">{{ payload.right.id}}</a> aus
<strong><a href="{{ source_id_link(payload.right.source_id) }}">{{ payload.right.index}}</a></strong>.
</p>

<!-- <p>
Bitte klicken Sie <strong><span class="vote-ok">Ja</span></strong>, wenn Sie
glauben, die beide Records repräsentieren das gleiche Werk. Klicken Sie bitte
<strong><span class="vote-no">Nein</span></strong>, wenn Sie glauben, daß die
beiden Records sich auf unterschiedliche Medien beziehen. Klicken Sie bitte
<strong><span class="vote-skip">Überspringen</span></strong>, wenn Sie kein
Urteil abgeben möchten.
</p> -->
<hr>

<p>Handelt es sich bei den beiden Titeln um ein Duplikat?</p>

<div class="buttons">
<a href="{{ url_for('compare', left=next_pair.left, right=next_pair.right,
                               feedback='%s:%s::%s:%s::OK::%s' % (
                               payload.left.index, payload.left.id,
                               payload.right.index, payload.right.id, now())) }}"
    class="button radius secondary success">Ja</a>

<a href="{{ url_for('compare', left=next_pair.left, right=next_pair.right,
                               feedback='%s:%s::%s:%s::NO::%s' % (
                               payload.left.index, payload.left.id,
                               payload.right.index, payload.right.id, now())) }}"
    class="button radius secondary alert">Nein</a>

<a href="{{ url_for('compare', left=next_pair.left, right=next_pair.right,
                               feedback='%s:%s::%s:%s::SKIP::%s' % (
                               payload.left.index, payload.left.id,
                               payload.right.index, payload.right.id, now())) }}"
    class="button radius secondary">Überspringen</a>
</div>

<div id="comparison"></div>

</div> <!-- content -->
</div> <!-- col -->
</div> <!-- row -->

<script>
{% include "comparison.js" %}
</script>
{% endblock %}
