<!DOCTYPE html>
<html>
  <head>
    <script src="{{url_for('static', filename='f/js/vendor/modernizr.js') }}"></script>
    <script src="http://fb.me/react-0.8.0.js"></script>
    <script src="http://fb.me/JSXTransformer-0.8.0.js"></script>
  </head>
  <body>
    <div id="example"></div>
    <script type="text/jsx">
      /** @jsx React.DOM */
      React.renderComponent(
        <h1>Hello, world!</h1>,
        document.getElementById('example')
      );
    </script>
  </body>
    <script src="{{url_for('static', filename='f/js/vendor/jquery.js') }}"></script>
    <script src="{{url_for('static', filename='f/js/foundation.min.js') }}"></script>
    <script>
    $(document).foundation();
    </script>

</html>
