<!DOCTYPE html>
<html>
  <head>
    <script src="{{url_for('static', filename='f/js/vendor/modernizr.js') }}"></script>
    <script src="http://fb.me/react-0.8.0.js"></script>
    <script src="http://fb.me/JSXTransformer-0.8.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
    <script src="{{url_for('static', filename='f/js/vendor/jquery.js') }}"></script>
    <script src="{{url_for('static', filename='f/js/foundation.min.js') }}"></script>
    <script>
    $(document).foundation();
    </script>    
  </head>
  <body>
    <div id="example"></div>
    <script type="text/jsx">
      /** @jsx React.DOM */

      var CTableRow = React.createClass({
        render: function() {
            return (
                <tr>
                  <td>{this.props.row[0]}</td>
                  <td>{this.props.row[1]}</td>
                  <td>{this.props.row[2]}</td>
                </tr>
            );
        }
      });

      var CTable = React.createClass({
        getInitialState: function() {
          return {rows: this.props.rows}
        },
        render: function() {
            return (
              <table>
              {this.props.rows.map(function(row) {
                return <CTableRow row={row} />
              })}
              </table>
            );            
        }
      });

      var Comparison = React.createClass({
        getInitialState: function() {
          return {
            docs: [],
            keys: [],
            keysIntersection: [],
            keysUnion: [],
            rows: [],
          };
        },
        // Given an {"index": "name", "id": "1234"} descriptor, retrieve the
        // document from ES/server and append it to this.state.docs array
        loadDocs: function(descriptor) {
          return $.ajax({
            url: '/doc/' + descriptor.index + "/" + descriptor.id,
            dataType: 'json',
            success: function(data) {
              var current = this.state.docs;
              current.push(data);
              this.setState({docs: current});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error("failed to load document", status, err.toString());
              console.error(descriptor);
            }.bind(this)
          });
        },
        // Get the documents from ES, extract the tags and cache
        // intersection and union of the tags
        componentWillMount: function() {
          var $this = this;
          var promises = this.props.docs.map(function(d) { 
            return $this.loadDocs(d)
          });
          $.when.apply($, promises).done(function() {
            for (var i = 0; i < $this.state.docs.length; i++) {
              var current = $this.state.keys;
              current.push(Object.keys($this.state.docs[i]["content"]));
              $this.setState({keys: current});  
            }
            $this.setState({keysIntersection: _.intersection.apply(_, $this.state.keys).sort() });
            $this.setState({keysUnion: _.union.apply(_, $this.state.keys).sort() });
            console.log($this.state);
            // extract the table rows
            for (var i = 0; i < $this.state.keysIntersection.length; i++) {
              var key = $this.state.keysIntersection[i];
              var values = [];
              values.push(key);
              for (var j = 0; j < $this.state.docs.length; j++) {
                var value = $this.state.docs[j]["content"][key];
                if (_.isString(value)) {
                  values.push(value)
                } else {
                  // TODO: make this better :)
                  values.push(value[0]);
                }
              }
              var current = $this.state.rows;              
              current.push(values);
              $this.setState({rows: current});
            }
            console.log($this.state);
          }).fail(function(xhr, status, err) {
            console.error("failed to mount component", status, err.toString());
            console.error($this);
          });
        },
        render: function() {
          console.log("rendering...");
          return (
            <div>
              {}
              <CTable rows={this.state.rows} />
            </div>
            );
        }
      })      

      React.renderComponent(
        <Comparison docs={[{"index": "bsz", "id": "310883989"},
                           {"index": "nep", "id": "9780415474825"}]} />,
        document.getElementById('example')
      );
    </script>
  </body>
</html>
