
{% extends "index.html" %}

{% block morejs %}

<script src="http://d3js.org/d3.v2.min.js"></script>
<script src="{{url_for('static', filename='js/venn.js') }}"></script>
<script src="http://www.benfrederickson.com/images/mds.js"></script>
<script src="http://www.numericjs.com/lib/numeric-1.2.6.min.js"></script>

{% endblock %}

    {% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="content">
                <h4>Overview</h4>


                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


                <table>
                    <tr><th>Indices</th><th>Count</th></tr>
                {% for name, count in counter.most_common() %}
                    <tr><td>{{ name }}</td><td>{{ count }}</td></tr>
                {% endfor %}
                </table>

                <h4>ISBN Overlaps</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <div class="mds"></div>


<script type="text/javascript">

var sets = [
	// {label : 'bsz', size : 4162189},
	{label : 'nep', size: 178873}, //,
    {label : 'ebl', size : 282152} //,
    // {label : 'elsevier', size:1741},
    // {label : 'oso' , size: 164},
    // {label : 'nl' , size: 494098},
    // {label : 'lfer' , size: 366806},
    // {label : 'ksd', size:106}
    ],

    overlaps = [
    			{sets : [0,1], size:6973}
	            // ,
	               // {sets : [0,3], size:832},
	               // {sets : [0,4], size:23},
	               // {sets : [0,5], size:829},
	               // {sets : [1,2], size:6973},
	               // {sets : [1,4], size:62},
	               // {sets : [1,5], size:247},
	               // {sets : [2,4], size:9},
	               // {sets : [2,5], size:8},
	               // {sets : [3,5], size:751},
	               // {sets : [0,7], size:33}
	        ];

// get positions for each set
sets = venn.venn(sets, overlaps, {layoutFunction: venn.classicMDSLayout})

// draw the diagram in the 'mds' div
venn.drawD3Diagram(d3.select(".mds"), sets, 300, 300);

</script>
        </div>
    </div>
</div>
    {% endblock %}