{% extends "index.html" %}


{% block content %}
<div class="row">
<div class="small-12 large-12 columns">

    <div class="content">
        <p>Change the sources for the comparison here. All checked source pairs
            will be included in the feedback process.
        </p>
            <form method="POST" action={{ url_for('settings') }}>
                <ul>
        {% for result in results %}
            <li>
                <input name="{{ result[0] }}-{{ result[1] }}" id="{{ result[0] }}-{{ result[1] }}" type="checkbox"
                {% if result[:2] in session.pairs %}checked="on"{% endif %}/>
                <label for="{{ result[0] }}-{{ result[1] }}"><strong>{{ result[0] }}</strong> vs
                    <strong>{{ result[1] }}</strong> {{ result[2] }}</label>
            </li>
        {% endfor %}
    </ul>
    <input type=submit class="button radius submit secondary" value="Save" />
        </form>

    </div>
</div>
</div>

{% endblock %}