
{% extends "index.html" %}

    {% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="content">
                <h4>Datenquellen</h4>

                <p>Sie können die <a href="{{ url_for('settings') }}">Datenquellen anpassen</a>, die Sie in dieser Session vergleichen möchen.

                <table>
                    <tr><th>Quelle</th><th>Quelle</th><th>Kandidaten</th><th>Aktiviert für diese Session</th></tr>
                {% for i1, i2, count, enabled in sources|sort %}
                    <tr><td>{{ i1 }}</td><td>{{ i2 }}</td><td>{{ count }}</td><td>{% if enabled %}ja {% else %} nein {% endif %} </td></tr>
                {% endfor %}
                </table>


                <h4>Feedback</h4>
                <table>
                    <tr><th>Typ</th><th>Anzahl</th></tr>
                {% for vote, count in votes.groups.iteritems() %}
                    <tr><td class="vote-{{vote|lower}}">{{ vote }}</td><td>{{ count }}</td></tr>
                {% endfor %}
                    <tr class="vote-total"><td>Total</td><td>{{ votes.total }}</td></tr>
                </table>


<!--                 <h4>Mode of operation</h4>

                <p><a href="{{ url_for('sample') }}">Hello Venn</a></p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 -->

 				<h4>Kontakt</h4>

 				<p>Fragen und Anregungen bitte an das Finc Team:
 					<a href="mailto:team@finc.info">team@finc.info</a>.
 				</p>

            </div>
        </div>
        </div>
    </div>
</div>
    {% endblock %}