
{% extends "index.html" %}

    {% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="content">
                <h4>Datenquellen</h4>

                <p>Sie können die <a href="{{ url_for('settings') }}">Datenquellen anpassen</a>, die Sie in dieser Session vergleichen möchen.

                <table>
                    <tr><th>Quelle</th><th>Quelle</th><th>Kandidaten</th><th>Aktiviert für diese Session</th></tr>
                {% for i1, i2, count, enabled in sources|sort %}
                    <tr><td>{{ i1 }}</td><td>{{ i2 }}</td><td>{{ count }}</td><td>{% if enabled %}ja {% else %} nein {% endif %} </td></tr>
                {% endfor %}
                </table>


                <h4>Feedback</h4>
                <table>
                    <tr><th>Typ</th><th>Anzahl</th></tr>
                {% for vote, count in votes.groups.iteritems() %}
                    <tr><td class="vote-{{vote|lower}}">{{ vote }}</td><td>{{ count }}</td></tr>
                {% endfor %}
                    <tr class="vote-total"><td>Total</td><td>{{ votes.total }}</td></tr>
                </table>


<!--                 <h4>Mode of operation</h4>

                <p><a href="{{ url_for('sample') }}">Hello Venn</a></p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 -->

                <h4>Vorgehensweise</h4>

                <p>
                    In der unscharfen Deduplizierung geht es um das Auffinden
                    von ähnlichen Titeln, die jedoch keinen Identifier teilen.
                    Der Prozess läuft im Moment in groben Zügen wie folgt ab:

                    <ol>
                        <li>Für die Quellen BSZ, EBL und NEP werden mit Hilfe von
                            Suchmaschinentechnologie anhand des Titels und des Untertitels
                            ähnliche Titel ermittelt. In diesem Schritt sind noch
                            mehrere hunderttausend Kandidaten im Rennen.
                        </li>
                        <li>Mit einem <a href="http://de.wikipedia.org/wiki/N-Gramm">N-Gramm</a>
                            Vergleich werden die ähnlichen noch einmal miteinander
                            verglichen (Titel, Untertitel, Autoren und weitere Autoren).
                            Datensätze, die in Ihrer Ähnlichkeit unter bestimmten
                            Schwellwerten liegen, werden aussortiert. Hier bleiben nur noch einige zehntausend Titel übrig.

                        </li>
                        <li>In einem weiteren Schritt werden die Editionsangaben - soweit vorhanden -
                            verglichen. Scheinen die Editionsangaben nicht übereinzustimmen,
                            wird davon ausgegangen, daß es sich tatsächlich um zwei verschiedene
                            Ausgaben handelt. Nach diesem Schritt bleiben knapp
                            zehntausend Titelsätze übrig.
                        </li>
                        <li>
                            Was nach diesem dreistufigen maschinellen Prozess
                            an Titeln übrigbleibt, dient als Datengrundlage für diese Seite. In einem letzten
                            Schritt möchten wir gern von Bibliothekarinnen und Bibliothekaren
                            erfahren, ob die zwei Titeldatensätze sich tatsächlich auf ein
                            und dasselbe Werk beziehen. Nutzen Sie dazu bitten das Tab <a href="{{ url_for('begin') }}">Vergleich</a>.
                            Vielen Dank!
                        </li>
                    </ol>
</p>

    <h4>Hinweise</h4>
<p>

                    <ul style="list-style-type: square">
                        <li>Ihr Webbrowser muss Javascript unterstützen und erlauben.</li>
                        <li>Die Auswahl der Vergleiche ist zufällig. </li>
                        <li>Sie können jederzeit aufhören oder anfangen.</li>
                        <li>Sie können die URL eines Vergleiches bookmarken und später zu einem Titel zurückkehren oder den Link per E-Mail versenden.</li>
                        <li>Die Oberfläche ist mobile-fähig, Sie können die Seite mit Ihrem Smartphone oder Tablet nutzen.</li>
                        <li>Einmal abgegebene Stimmen können nicht zurückgenommen werden. Sie können aber zurückgehen (Zurück im Browser) und ein anderes Votum abgeben.</li>
                    </ul>
                </p>

                <h4>Kontakt</h4>

                <p>Fragen und Anregungen bitte an das Finc Team:
                    <a href="mailto:team@finc.info">team@finc.info</a>.
                </p>

            </div>
        </div>
        </div>
    </div>
</div>
    {% endblock %}