{% extends "index.html" %}

{% block content %}
<div class="row">
<div class="small-12 large-12 columns">

<table>
{% for result in results %}
    {% set outer_loop = loop %}
    <tr>
        <td><a href="#">Link</a></td>
        <td><strong>{{result[1] | upper }} {{result[2]}}</strong></td>
        <td><strong>{{result[3] | upper }} {{result[4]}}</strong></td>
    </tr>

    <tr>
        <td><span class="hint">001</span></td>
        <td><a href="https://katalog.ub.uni-leipzig.de/Search/Results?lookfor=record_id:{{ result[2] }}">{{ result[2] }}</a></td>
        <td><a href="https://katalog.ub.uni-leipzig.de/Search/Results?lookfor=record_id:{{ result[4] }}">{{ result[4] }}</a></td>
     </tr>

    {% for field in ('245a', '245b', '245c', '260c', '100a',
                     '700a', '655a', '935b', '020a', '300a', '500a') %}
        <tr>
            <td><span class="small hint">{{ field }}</span></td>
            <td class="field field-{{field}}">
                <span id="{{ result[1] }}-{{ result[2] }}-{{ outer_loop.index }}-{{field}}" class="{{ field }}"></span>
            </td>
            <td class="field field-{{field}}">
                <span id="{{ result[3] }}-{{ result[4] }}-{{ outer_loop.index }}-{{field}}"
                 class="{{ field }}"></span>
            </td>
        </tr>
    {% endfor %}

     <tr style="background: #efefef">
        <td></td>
        <td>Similarity scores here</td>
        <td>
            <a href="#" class="button small secondary success">Valid</a>
            <a href="#" class="button small secondary alert">Invalid</a>
        </td>
    </tr>

     <tr style="background: #efefef">
        <td class="tdoc" data="{{ outer_loop.index }}" index="{{ result[1] }}" id="{{ result[2] }}"></td>
        <td class="tdoc" data="{{ outer_loop.index }}" index="{{ result[3] }}" id="{{ result[4] }}"></td>
        <td></td>
    </tr>
{% endfor %}
</table>

</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        var firstvalue = function(data, tag) {
            var field = tag.substring(0, 3);
            var subfield = tag.substring(3, 4);
            try { value = data['content'][field][0][subfield] || "NA";
            } catch (err) { value = "NA"}
            return value;
        }

        $("td.tdoc").each(function() {
            var self = $(this);
            var index = self.attr('index');
            var id = self.attr('id');
            var data = self.attr('data');
            var key = index + "-" + id + "-" + data;
            $.get("/doc/" + index + "/" + id, function(data) {
                fields = ['245a', '245b', '245c', '260c', '100a', '700a',
                          '655a', '935b', '020a', '300a', '500a'];
                for (var i = 0; i < fields.length; i++) {
                    field = fields[i];
                    $("#" + key + "-" + field).text(firstvalue(data, field));
                }
            })
        });
    });
</script>
{% endblock %}

