html {
    background: #eaeaea;
}

.row {
    background: #fefefe;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding: 0 10px 0 10px;*/
    color: #565656;
}

.comment {
    display: none;
}

table tr td {
    padding: 0.5625rem 0.625rem;
    vertical-align: top;
}

table {
    border: none;
    border-top: solid thin #efefef;
    border-bottom: solid thin #efefef;
    border-spacing: 0;
    border-collapse: collapse;
}

hr {
    margin-top: 10px;
}

.button {
    margin-bottom: 10px;
}

.ok {
    background: #CCFFCC;
    color: #000;
    padding: 5px;
}

.invalid {
    background: #FFE5CC;
    color: #000;
    padding: 5px;
}

.field-245a {
    font-weight: bold;
}

.hint {
    color: #898989;
}

.small {
    font-size: 10px;
}

#headerBar {
    height: 20px;
    color: white;
    background: #545454
}

div.nav {
    margin-top: 0.5em;
}

div.nav ul {
    background: #efefef;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div.nav ul li {
    background: #efefef;
    display: inline-block;
    padding: 5px 15px 5px 15px;
}

div.nav ul li:hover {
    background: #dadada;
}


div.nav ul li.active {
    background: #555;
    display: inline-block;
    padding: 5px 15px 5px 15px;
}

a li.active  {
    color: white;
}

table > tbody > tr.comparable > td {
    border: solid thin #dddddd;
}

tr.uncomparable > td {
    color: #555555;
}

td.tag {
    font-weight: bold;
}

.buttons {
    text-align: left;
}
